*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

:root {
    --primary-color: #3b82f6;
    --secondary-color: #2563eb;
    --background-color: hsla(0, 25%, 92%, 0.959);

    --primary-text-color: #1e1e1e;
    --secondary-text-color: #6b7280;
    --border-color: #e5e7eb;

    --success-color: #10b981;
    --error-color: #ef4444;

}
html, body {
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    display: flex;  
    justify-content: center;
    align-items: center;
}
a,button {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
} 

.container
  {
      min-width: 700px;
      min-height: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid var(--border-color); 
      background-color: var(--background-color);
      border-radius: 8px;
      box-shadow: 0 8px 10px rgba(12, 0, 0, 0.245);
      min-height: 50%;
    
       border: 1px solid var(--border-color);
       /* position: relative; */
      
  }

  .color-palette-screen{
   width: 90%;
   height: 90%;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: 10px;
    margin: auto;
    animation: flyIn 1s ease-in-out;
    transition: all 0.3s ease-in-out;
   
  }

  @keyframes flyIn {
    0%{
      transform: rotateY(90deg);
      opacity: 0.5;
    }
    100%{
      transform: rotateY(0deg);
      opacity: 1;
    }
  } 

 h1{
    margin: 10px 0;
    font-size: 2rem;
    color: var(--primary-text-color);
    text-align: center;
  }

  h1::after{
    content: '';
    display: block;
    width: 50%;

   
    height: 4px;
    background-color: var(--primary-color);
    margin-top: 8px;
    left: 50%;
    transform: translateX(50%);
    border-radius: 8px;
  }

  .btn{
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: wheat;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
    display: flex;    
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
  }

  .btn:hover{
    background-color: var(--primary-color);
  }

  .btn:active{
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  .btn i{
    font-size: 1.2rem;
    
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  .animate-icon{
    animation: rotate 1s linear infinite;
  }
  
  .btn:active i{
    box-shadow: none;
    transform: scale(0.9);
  }



  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    50%{
   
      transform: rotate(90deg);
    }
    75%{
      
      transform: rotate(270deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
  }

  .color{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   
  }
  .color-box{
    min-height: 100px;
    min-width: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background-color: #10b981;
  }

  .color-box:hover{
    transform: scale(1.05);
  }
  .color-info{
    margin-top: 10px;
    font-size: 1rem;
    color: var(--primary-text-color);
    cursor: pointer;
     transition: all 0.3s ease-in-out ;
  }

  .color-info:hover {
    font-weight: bold;

  }
  .color-info:active{
    transform: scale(0.95); 

  } 

@media (max-width:710px) {
  .container{
    min-width: 90%;
  }
  .color-palette-screen{
    width: 100%;
    height: 100%;
    gap: 5px;
    align-items: center;
  } 
  h1{
    font-size: 1.5rem;
  }
  .btn{
    font-size: 0.9rem;
    padding: 8px 16px;
    gap: 10px;

  }
  .colors{
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .color{
    
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .color-box{
    min-width: 100px;
    min-height: 80px;
  }
}


