@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary: #F4F4F9;
  --secondary: #2ECC40;
  --accent: #0552fbce;
  --background: #fdfdfdea;
  --quizScreen: #f5eeeefa;
  --textIcons: #111111
}

body{
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Lato', 'sans-serif';
  color: var(--textIcons);
  text-align: center;
}

.screen{
  display: none;
}

.screen.active{
  display: block;
}

.container{
  background-color: var(--quizScreen);
  padding: 20px 15px;
  border-radius: 15px;
  min-width: 500px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

 h1{
  font-size: rem;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  color: var(--accent);
}

 h1::after{
  content: '';
  position: absolute;
  height: 7px;
  width: 50%;
  background-color: var(--secondary);
  left: 50%;
  transform: translateX(-50%);
  bottom:0;
  border-radius: 10px;
}

#start-screen p{
  margin-top: 50px;
  text-align: center;
  font-size: 1.05rem;
  margin-bottom: 20px;
}

#start-btn{
  background-color: var(--secondary);

  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  /* border-color: var(--accent); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  margin: 10px 0;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 40px;
  transition: all .2s ease;
  color: var(--background);
  
  
}
#start-btn:hover{
  
  transform: scale(1.05);
  border: none;
}

#start-btn:active{
  transform: translateY(-5px);
  background-color: var(--secondary);
  color: var(--textIcons);


}

.quiz-header{
  text-align: left;
  color: var(--textIcons);
}

.quiz-header h2{
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}

.quiz-header h2::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--secondary);
}

.quiz-info{
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.answers-container{
  text-align: left;
}
.answers-container ul{
  list-style: none;
}

.answers-container ul li{
  background-color: var(--primary);
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: all .2s ease;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
}

.answers-container ul li:hover{
  
  transform: translateY(-2px);
   border: 1px solid var(--secondary);
 background-color: var(--accent);
  color: var(--primary);

}

.answers-container ul li:active{
  color: var(--textIcons);
  background-color: transparent;

}

.progress-bar{
  background-color: var(--background);
  height: 10px;
  width: 100%;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
}

.progress{
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  border-radius: 5px;
}

#result-screen{
  color: var(--accent);

  font-size: 1.25rem
}
.result-info p{
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;

}
.result-info p::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--secondary);
}
#result-message{
  margin-bottom: 40px;
  color: var(--secondary);
  font-weight: bold;
}

